<!DOCTYPE html>
<html>
  <head>
    <title>Phlickr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.images = {
        splashnouser: "<%= image_url('splashnouser.jpg') %>"
      }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
